a{
  font-size: "1.3rem";
  color: #FB66FF;
}

a:link {
  color: #FB66FF;
}

a:hover {
  color: #F2EFEA;
}


.footer_social {
  margin-top: 1rem;
  margin-left: 10rem;
  max-width: 100%;
}

.footer_social i {
  font-size: 2rem;
  color: #F2EFEA;
}

.hover_effect{
  color: #F2EFEA;
}

.hover_effect:hover {
  color: #FB66FF;
}

.link_styles {
  color: #F2EFEA;
}

.link_styles:hover {
  color: #FB66FF;
}

.pink {
  color: #FB66FF;
}

.pink:hover {
  color: #F2EFEA;
}

@media (max-width: 550px) {
  .jumbo_social i {
    font-size: 1.4rem;
  }
}
